$main_txt_color: #fff;
$control_btn_color: #fff;
$control_btn_back: rgba(174, 181, 185, 0.5);
$active_btn: rgba(76, 82, 85, 0.4);
$border_search: rgba(228, 227, 227, 0.2);
$input_bg: rgba(76, 82, 85, 0.4);